<nav>
  <div class="LinksNav">
    <button routerLink="/login">Iniciar Sesion</button>
    <button routerLink="/register">Registrarse</button>
    <button routerLink="/categorias">Categorias</button>
    <button routerLink="/articulos">Articulos</button>
    <button routerLink="/mensajes">Mensajes</button>
    <button routerLink="/ayuda">Ayuda</button>
    
  </div>
  <img class="userLogo" src="Archivos/voy caminando.jpg" alt="Usuario">
</nav>

<main>
  <h1>Bienvenido a TrikiTrueke</h1>
  <section id="inicio">
    <h2>La mejor aplicación web de trueques</h2>
    <p>Esta es la sección de bienvenida.</p>
  </section>
</main>

<footer>
  <p>&copy; 2025 Mi Página Web. Todos los derechos reservados.</p>
</footer>
