header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}
.busqueda{
    justify-content: right;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.LinksNav {
  display: flex;
  gap: 30px;
}

.btn-fondo {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-fondo:hover {
  text-decoration: underline;
  text-decoration-color: #6b2d64;
  color: #ffffff;
  background-color: #6b2d64;
  border-radius: 2px;

}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
    margin-left: auto;
    text-align: center;
}

body {
    background-color: #000000;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
p {
    color: #ffffff;
}

main {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.insta {
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

footer {
    background-color: #ffffff;

    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }
}